**/.DS_Store

eviction_testing/target
out/**
out_**
**.o
**.csv

# AWS login key
*.pem
eviction_testing/sim-results
spec-cpu/cpu2017-1.1.9.iso
eviction/.cache/clangd/index
out_v2
out.txt
attack_sim/.cache/clangd/index

*.pyc
m5out
.vscode
results
venv
bench/packer
bench/packer_1.4.3_linux_amd64.zip
bench/npb/npb-image/npb
bench/npb/npb-hooks
bench/packer_1.4.3_linux_amd64.zip
bench/parsec/parsec-image/parsec
bench/spec-2017/spec-2017-image/spec-2017
bench/spec-2017/cpu2017-1.1.9.iso
# bench/parsec/
bench/parsec-benchmark/
bench/packer_cache
gem5
linux-stable/
vmlinux-4.19.83
config.4.19.83

# Latex files
**.aux
**.bbl
**.blg
**.fdb_latexmk
**.fls
**.log
**.out
**.pdf
**.gz
**.zip
**.cut
writing/micro58-latex-template
